* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.titulo {
    margin-left:10px ;

}
header {
width: 1500px;
background: #FDDDFA ;
display: flex;
justify-content:space-around ;
align-items: center;
height: 70px;
}

.menu li {
    display: inline-block;
}

.menu li a {
font-size: 20px;
padding: 15px;
text-decoration: none;
color:black;
}

.botão {
    background: #94D4E8;
    
}